data/* linguist-vendored
data/January/* linguist-vendored
data/February/* linguist-vendored
data/March/* linguist-vendored
data/April/* linguist-vendored
data/May/* linguist-vendored
data/June/* linguist-vendored
data/July/* linguist-vendored
data/August/* linguist-vendored
data/September/* linguist-vendored
